// colors
$white: #fff;
$black: #000;

:root {
    // fonts
    // --font-family: "WorkSans", sans-serif;

    --white: #{$white};
    --black: #{$black};
}

$localColors: (
    "white": var(--white),
    "black": var(--black),
);
